ul,ol{
    list-style: none;
}
.container{


}
.container h3{
    color: #333;
    text-align: center;
    font-size: 30px;
    position: relative;
    width: 1180px;
    border-bottom: 1px solid #D7D8D8;
    padding: 16px 0;
    z-index: 1;
    font-weight: 400;
}
.container h3 span{
    display: block;
    width: 116px;
    height: 34px;
    position: absolute;
    bottom: -20px;
    left: 530px;
    font-size: 18px;
    color: #999;
    border-bottom: 4px solid #31C37D;
    line-height: 34px;
    z-index: 10;
    background-color: #fff;
}
.container #nav_bar{
    width: 460px;
    overflow: hidden;
    margin: 60px auto 74px;
    text-align: center;
}
.container #nav_bar .active{
    background-color: #31C37C;
    color: #fff;
}
.container #nav_bar li{
    float: left;
    width: 140px;
    height: 34px;
    border: 1px solid #31C37C;
    border-radius: 17px;
    line-height: 34px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}
#content div{
    display: none;
}
#content .active{
    display: block;
}