ul,ol{
   list-style: none;
}
.callbacks1_on{
    display: block;
    float: left;
    position: relative;
    opacity: 1;
    z-index: 2;
    transition: opacity 500ms ease-in-out;
}
#slider4 li{
    display: block;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: opacity 500ms ease-in-out;
}
.banner{
    overflow: hidden;
}
#slider4 li img{
    width:100%;
}
.banner-inner{
    position: relative;
}
.centered-btns_nav { position: absolute; top: 50%; z-index: 2; width: 38px; height: 61px; margin-top: -40px; line-height: 200px; background-image: url(../images/arrow.gif); overflow: hidden; opacity: .7;}
.next { right: 0; background-position: right 0;}
.centered-btns_nav:active { opacity: 1;}
.centered-btns_tabs { margin-top: 15px; text-align: center; font-size: 0; list-style-type: none;}
.centered-btns_tabs li { display: inline-block; margin: 0 3px; *display: inline; *zoom: 1;}
.centered-btns_tabs a { display: inline-block; width: 9px; height: 9px; border-radius: 50%; line-height: 20px; background-color: rgba(0, 0, 0, .3); background-color: #ccc\9; overflow: hidden; *display: inline; *zoom: 1;}
.centered-btns_tabs .centered-btns_here a { background-color: rgba(0, 0, 0, .8); background-color: #666\9;}
